<div class="blogs_container">
    <div class="blog-max">
        <turbo-frame id="form" class="form">
            <%= form_with(model: @flight, local: true, method: :get, data: {turbo_frame: "results", controller: "search", action: "input->search#process" }) do |f| %>
                <%= f.label :departure %>
                <%= f.select(:from, @airports.pluck(:name))%>
                <%= f.label :Arrival %>
                <%= f.select(:to, @airports.pluck(:name))%>
                <%= f.label :passengers %>
                <%= f.select(:passengers, (1..4).to_a) %>
                <%= f.label :date %>
                <%= f.select(:date, @flights.pluck(:departure_time)) %>
            <% end %>
        </turbo-frame>
    </div>
    <div class="blog">
        <turbo-frame id="results">
        </turbo-frame>
    </div>
</div>