<turbo-frame id="blogs_container" class="blogs_container">
        <div class="blog">
            <% if flash[:new_passenger_error] %>
                <div class="error">
                    <%= flash[:new_passenger_error] %>
                </div>
            <% end %>
            <h2> Enter passengers details </h2>
            <%= form_with(url: booking_passengers_path, local: true) do |f| %>
            <%= f.hidden_field :booking_id, :value => @booking.id %>
                <% (1..@booking.number_of_passengers).each do |i| %>
                    <h3>Passenger <%= i %></h3>
                    <%= f.label :name%>
                    <%= f.text_field "name[]"%>
                    <%= f.label :email %>
                    <%= f.email_field "email[]"%>
                <%end%>
                <br/>
                <br/>
                <%= f.submit nil, :class => "form-btn"%>
            <% end %>
        </div>
</turbo-frame>

